@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {

}

.first-two-container {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-bottom: 16px;
}

.masonry {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 376px);
  grid-auto-rows: masonry;
  grid-gap: 16px;
  justify-content: center;
}

/*.masonry-item {*/
/*  break-inside: avoid;*/
/*  margin-bottom: 16px;*/
/*}*/

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
